@import 'tailwindcss';
:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* UI colors & brand colors */
    --color-primary: #ff8eb2;
    --color-primary-hover: #ffb5cc;
    --color-primary-active: #ff3c73;

    --color-secondary: #ffcaa6;
    --color-secondary-hover: #ffddc6;
    --color-secondary-active: #ffb380;

    --color-bg: #fff2f2;
    --color-bg-secondary: #f9e5e5;
    --color-surface: #ffffff;
    --color-surface-hover: #f0f0f0;
    --color-surface-active: #e0e0e0;
    --color-border: #e0e0e0;
    --color-border-muted: #c0c0c0;

    /* Semantic colors */
    --color-success: #4caf50;
    --color-warning: #ffc107;
    --color-danger: #f44336;
    --color-info: #2196f3;

    /* Text colors */
    --color-text: #ffffff;
    --color-text-muted: #b0b0b0;
    --color-text-inverted: #000000;
    --color-heading: #ffffff;

    /* Buttons ksk ej neccessary i små projekt men kan vara kul */
    /* --button-primary-bg --button-primary-bg-hover --button-primary-text */
}

@theme {
    --color-primary: var(--color-primary);
    --color-primary-hover: var(--color-primary-hover);
    --color-primary-active: var(--color-primary-active);

    --color-secondary: var(--color-secondary);
    --color-bg: var(--color-bg);
    --color-bg-secondary: var(--color-bg-secondary);

    --color-surface: var(--color-surface);
    --color-surface-hover: var(--color-surface-hover);
    --color-surface-active: var(--color-surface-active);
    --color-border: var(--color-border);
    --color-border-muted: var(--color-border-muted);

    --color-success: var(--color-success);
    --color-warning: var(--color-warning);
    --color-danger: var(--color-danger);
    --color-info: var(--color-info);

    --color-text: var(--color-text);
    --color-text-muted: var(--color-text-muted);
    --color-text-inverted: var(--color-text-inverted);
    --color-heading: var(--color-heading);
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
}
